<p>To preview Angular Integrated Version you will need to compile and build it as production with AOT.</p>
<ul>
<li>Open cmd console in theme/dist/angular/demo10/</li> 
<li>Run this command to build: ng build --prod --op=app</li>
</ul>
<p>For more info please check the documentation.</p>