<style>
  .m-dropdown.m-dropdown--inline {
    margin-left: -35px;
}
</style>
<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
     <div class="mr-auto">
    
    </div> 
    <div>
      <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover"
        aria-expanded="true">
        <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
          <i class="la la-plus m--hide"></i>
          <i class="la la-ellipsis-h"></i>
        </a>
        <div class="m-dropdown__wrapper">
          <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
          <div class="m-dropdown__inner">
            <div class="m-dropdown__body">
              <div class="m-dropdown__content">
                <ul class="m-nav">
                  <li class="m-nav__section m-nav__section--first m--hide">
                    <span class="m-nav__section-text">Quick Actions</span>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link"  (click)="toggle()">
                      <i class="m-nav__link-icon flaticon-share"></i>
                      <span class="m-nav__link-text"> {{buttonName}}</span>
                    </a>
                  </li>
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Subheader -->
<!-- Filters starts here -->

<div class="m-content" *ngIf="show">
  <div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">Map filters</h3> </div>
        </div>
    </div>
    <!--begin::Form-->
   <!--  <form class="m-form m-form--fit m-form--label-align-right"> -->
        <div class="m-portlet__body">
            
           
            <div class="form-group m-form__group row">

              <div class="col-lg-4">
                
                <!-- <span class="m-form__help">Please select state</span>  -->

                <!-- Testing code starts here -->
                <ng-multiselect-dropdown
                [placeholder]="'Select state'"
                [data]="jsondata"
                [(ngModel)]="selectedItems"
                [settings]="statedropdownSettings"
                (onSelect)="onStateSelect($event)"
                (onSelectAll)="onStateSelectAll($event)"
                (onDeSelect)="onStateDeSelect($event)"
                (onDeSelectAll)="onStateDeSelectAll($event)"
              >
              </ng-multiselect-dropdown>
                <!-- Testing code ends here -->
              </div>
              <div class="col-lg-4">
                <ng-multiselect-dropdown
                [placeholder]="'Select district'"
                [data]="districtServerData"
                [settings]="dropdownDistrictSettings"
                (onSelect)="onDistrictSelect($event)"
                (onSelectAll)="onDistrictSelectAll($event)" 
                (onDeSelect)="onDistrictDeSelect($event)"
                (onDeSelectAll)="onDistrictDeSelectAll($event)"
              >
              </ng-multiselect-dropdown>
              </div>
              <div class="col-lg-4">
                <ng-multiselect-dropdown
                [placeholder]="'Select city'"
                [data]="cityServerData"
                [settings]="dropdownCitySettings"
                (onSelect)="onCitySelect($event)"
                (onSelectAll)="onCitySelectAll($event)"
                (onDeSelect)="onCityDeSelect($event)"
                (onDeSelectAll)="onCityDeSelectAll($event)"
              >
              </ng-multiselect-dropdown>
              </div>
            </div>
            
        </div>
 <!--    </form> -->
    <!--end::Form-->
</div>
</div>    
  <!-- Filters ends here --> 
